@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200;400;700&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montagu", sans-serif;
}
body {
  background-color: rgb(250, 234, 10);
  padding: 0 10px;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0, 125);
}
.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .forms {
  width: 100%;
}
.wrapper .forms .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .forms .input_field label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}
.wrapper .forms .input_field .input,
.wrapper .forms .input_field .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #bbc2c0;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .forms .input_field .textarea {
  resize: none;
  height: 125px;
}
.wrapper .forms .input_field .input:focus,
.wrapper .forms .input_field .textarea:focus {
  border: 1px solid #fec107;
}
.wrapper .forms .input_field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.wrapper .forms .input_field:last-child {
  margin-bottom: 0;
}

.wrapper .forms .input_field .btn:hover {
  background: #ffd658;
}
